#contact-region {
  background-color: $emerald;
  color: #fff;
  height: 100%
}

.contact-block {
  @include clearfix;
  position: absolute;
  top: 40%;
  left: 0;
  text-align: center;

  .contact-content {
    display: inline-block;
    vertical-align: middle;  
    text-align: left;
  }

  .contact-content {
    margin-left: 22px;

    h1, h2 {
      font-weight: 200;
      @include text-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));
    }

    h1 {
      font-size: 3em;
      margin-bottom: 6px;
      margin-top: 6px;
    }

    h2 {
      margin: 0;
      font-size: 1.55em;
      line-height: 1.4em;
    }
  }
}