#work-region {
  background-color: $rose;
  color: #fff;
  height: 100%
}

.work-block {
  text-align: left;

	.project-item {
		height: 180px;
		background-color: rgba(0,0,0,.2);
		margin: 10px;
	}

  .work-content {
    margin-left: 22px;
  }
}