<span class="skill-name">{{name}}</span>
<span class="skill-rating">
  <div class="progress">  
    <div class="progress-bar" role="progressbar" data-percent="{{percent}}">
  </div>
</div></div>
</span>