
<div class="skills-intro">
  <h3 class="sm-header">Skills &amp; Strengths</h3>
  <p>I'm happiest when I'm creating engaging and intuitive experiences for people on the web.</p>
  <p>I work best when I can focus on <b>exceptional design</b>, <b>user experience</b>, and <b>semantic code</b>.</p>
  <p>I love building responsive, mobile-friendly web apps with Backbone &amp; Marionette, though I've built a few Django and Wordpress sites, too!</p>
  <p></p>
  <div class="filters">
    <span class="label label-info" data-label="markup">
      <i class="fa fa-tag"></i> Semantic Markup
    </span>
    <span class="label label-success" data-label="markup">
      <i class="fa fa-tag"></i>  JavaScript
    </span>
    <span class="label label-warning" data-label="markup">
      <i class="fa fa-tag"></i>  Backend / DevTools
    </span>
    <span class="label label-danger" data-label="markup">
      <i class="fa fa-tag"></i> Misc
    </span>
    <span class="label label-primary" data-label="markup">
      <i class="fa fa-tag"></i> Front End
    </span>
  </div>
</div>
<div class="skills-list-block">
  <div class="skills-list"></div>
</div>